*

!/.gitignore
!/LICENSE
!/README.md

!/13/
!/13/cos_wave.py
!/13/voltage.py
!/13/peak_to_peak.py

!/sp2/
!/sp2/jocson_nile_202400045_MS1.1.py
!/sp2/jocson_nile_202400045_MS1.2.py
!/sp2/jocson_nile_202400045_MS2.1.py
!/sp2/jocson_nile_202400045_MS2.2.py
